@import './variables';

$primary: #fe5f1e;
$primary-hover: #b23301;
$secondary: #f8f8f8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;
$smooth: all .3s ease-in-out;

// To run sass file with laravel mix use cmd: "npm run watch"

body {
    font-family: 'Lato', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    color: $dark;
};

nav li:last-child a {
    background: $primary;
    &:hover {
        background-color: $primary-hover;
    }
};

nav li a {
    transition:$smooth;
    -webkit-transition:$smooth;
    -moz-transition:$smooth;
    -ms-transition:$smooth;
    -o-transition:$smooth;
    &:hover 
{
        color: $primary;
    }
};

section.hero {
    background: $secondary;
}
.size {
    background: $secondary;
}
.add-to-cart {
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    -webkit-transition: $smooth;
    -moz-transition: $smooth;
    -ms-transition: $smooth;
    -o-transition: $smooth;
    &:hover {
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
}

.btn-primary {
    background: $primary;
    transition: $smooth;
    -webkit-transition: $smooth;
    -moz-transition: $smooth;
    -ms-transition: $smooth;
    -o-transition: $smooth;
    &:hover {
        background: $primary-hover;
    }
}

section.cart {
    background: $secondary;
}
.amount {
    color: $primary;
}

section.login {
    background: $secondary;
    min-height: calc(100vh - 86px);
    a {
        color: $primary;
        &:hover {
            color: $primary-hover;
        }
    }
}

.toastify{
    border-radius: 50px!important;
    -webkit-border-radius: 50px!important;
    -moz-border-radius: 50px!important;
    -ms-border-radius: 50px!important;
    -o-border-radius: 50px!important;
    padding-left: 8px!important;
}