@import './variables';

$primary: #fe5f1e;
$primary-hover: #b23301;
$secondary: #f8f8f8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;
$smooth: all .3s ease-in-out;

// To run sass file with laravel mix use cmd: "npm run watch"

body {
    font-family: 'Lato', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    color: $dark;
};

//Scroll-bar
body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: $secondary;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: $primary;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid $pure;  /* creates padding around scroll thumb */
  }
  

nav li:last-child a {
    background: $primary;
    &:hover {
        background-color: $primary-hover;
    }
};

.toggle {
    background-color: $primary !important;
    &:hover {
        color: $primary-hover;
    }
}

nav li a {
    transition:$smooth;
    -webkit-transition:$smooth;
    -moz-transition:$smooth;
    -ms-transition:$smooth;
    -o-transition:$smooth;
    &:hover 
{
        color: $primary;
    }
};

form i {
    margin-left: -30px;
    cursor: pointer;
}


section.hero {
    background: $secondary;
}
.size {
    background: $secondary;
}
.add-to-cart {
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    -webkit-transition: $smooth;
    -moz-transition: $smooth;
    -ms-transition: $smooth;
    -o-transition: $smooth;
    &:hover {
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
}

.btn-primary {
    background: $primary;
    transition: $smooth;
    -webkit-transition: $smooth;
    -moz-transition: $smooth;
    -ms-transition: $smooth;
    -o-transition: $smooth;
    &:hover {
        background: $primary-hover;
    }
}

section.cart {
    background: $secondary;
}
.amount {
    color: $primary;
}

section.login {
    background: $secondary;
    min-height: calc(100vh - 86px);
    a {
        color: $primary;
        &:hover {
            color: $primary-hover;
        }
    }
}

.toastify{
    border-radius: 50px!important;
    -webkit-border-radius: 50px!important;
    -moz-border-radius: 50px!important;
    -ms-border-radius: 50px!important;
    -o-border-radius: 50px!important;
    padding-left: 8px!important;
}

a.link {
    color: $primary;
    &:hover {
        color: $primary-hover;
    }
}

section.status {
    background: $secondary;
    min-height: calc(100vh - 86px);
}

.status-box {
    padding: 60px 0 0;
}

.status-box ul {
    margin-left: 84px;
}

.status-box ul li {
    position: relative;
}


//Line Making
.status-box ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background: $dark;
    margin-top: 10px;
}

//dots making
.status-box ul li span {
    position: relative;
    padding-left: 20px;
}

.status-box ul li span:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    background: $dark;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    box-shadow: 0 0 1px 10px $secondary;
}


//Icons marking
.status-box ul li span:before {
    font-family: 'Line Awesome Free';
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: inherit;
}

.status-box ul li:nth-child(1) span:before {
    content: '\f46c';
}

.status-box ul li:nth-child(2) span:before {
    content: '\f560';
}

.status-box ul li:nth-child(3) span:before {
    content: '\f818';
}

.status-box ul li:nth-child(4) span:before {
    content: '\f0d1';
}

.status-box ul li:nth-child(5) span:before {
    content: '\f582';
}


//last dot 
.status-box ul li:nth-child(5) span:after {
    box-shadow: 0 20px 0 20px $secondary;
}

//line
.status-box ul li.step-completed:before {
    background: $gray;
}

//dots
.status-box ul li.step-completed span:after {
    background: $gray;
}

//text
.status-box ul li.step-completed span {
    color: $gray;
}

//current status 
.status-box ul li.current span {
    color: $primary;
}

.status-box ul li.current span:after {
    background: $primary;
}

.status-box ul li small {
    float: right;
    font-size: 14px;
    margin-top: 8px;
}

@media(max-width:1060px) {
    .container {
        max-width: 90%;
    }
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media(max-width: 768px){
    .status-box ul li span:before {
        font-size: 34px;
    }
}


.StripeElement {
    box-sizing: border-box;
    width: 50%;
    margin-left: auto;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid gray;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease  ;
    transition: box-shadow 150ms ease  ;
    -moz-transition: box-shadow 150ms ease  ;
    -ms-transition: box-shadow 150ms ease  ;
    -o-transition: box-shadow 150ms ease  ;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}


.footer {
    background-color: $primary;
}